/* styles.css */
body{
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #3b3646;
}

*{
  box-sizing: border-box;
}

.centerBox{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.categoryWrapper{
  height: 100%;
  width: 100%;
  background: no-repeat center center;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;

  a { 
    color: white;
    text-decoration: none;
    font-family: "Lucida Console", "Courier New", monospace;
    position: relative;
    grid-row: 1;
    grid-column: 1;
  }

}

.categoryWrapper:after{
  position: absolute;
  top:0;
  left: 0;
  right:0;
  bottom: 0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a29ca9+0,95909b+99 */
background: #a29ca9; /* Old browsers */
background: -moz-linear-gradient(-45deg, #a29ca9 0%, #95909b 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #a29ca9 0%,#95909b 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #a29ca9 0%,#95909b 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a29ca9', endColorstr='#95909b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  content: '';
  opacity: 0;
    -webkit-transition: opacity 0.9s ease 0s; 
}

.categoryWrapper:hover:after{
  opacity: 0.4;
}

h1{
  color:white;
  font-size: 50px;
  letter-spacing: 2px;
  -webkit-transition: all 0.15s ease 0s; 
  position: relative;
  z-index: 10;
  grid-column: 1;
  grid-row: 1;
}

h2{
  color:white;
  font-size: 35px;
  letter-spacing: 1px;
  text-align: center;
  height: 100vh;
}

.categoryWrapper:hover h1{
  transform: translateY(-10px);
}

.categoryWrapper button{
  position: absolute;
  transform: translatey(60px);
  -webkit-appearance: none;
  border: none;
  background: none;
  color:white;
  width: 275px;
  height:50px;
  font-size: 20px;
  padding: 0;
  margin: 0;
  outline: none;
  z-index: 10;
}

.categoryWrapper button span{
  display: block;
  position: relative;
  line-height: 50px;
  height: 50px;
  cursor: pointer;
}

.categoryWrapper button > span:after{
  content:'';
  position: absolute;
  top:0;
  left: 50%;
  width: 20px;
  height: 0;
  
  border: 1px solid white;
  border-left: none;
  border-bottom: none;
  
      transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
}

.categoryWrapper:hover button > span:after{
  width: calc(50% - 1px);
  height: calc(100% - 2px);
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.categoryWrapper button > span:before{
  content:'';
  position: absolute;
  top:0;
  right: 50%;
  width: 20px;
  height: 0;
  
  border: 1px solid white;
  border-right: none;
  border-bottom: none;
  
      transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
}

.categoryWrapper:hover button > span:before{
  width: calc(50% - 1px);
  height: calc(100% - 2px);
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.categoryWrapper button > span > span:before{
  content:'';
  position: absolute;
  bottom:0;
  right: 0%;
  width: 1px;
  height: 1px;
  opacity: 0;
  
}

.categoryWrapper:hover button > span > span:before{
  opacity: 1;
  border-bottom: 1px solid white;
  width: calc(50%);
  height: 1px;
  transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
}

.categoryWrapper button > span > span:after{
  content:'';
  position: absolute;
  bottom:0;
  left: 0%;
  width: 1px;
  height: 1px;
  opacity: 0;
  
}

.categoryWrapper:hover button > span > span:after{
  opacity: 1;
  border-bottom: 1px solid white;
  width: calc(50%);
  height: 1px;
  transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
}

.categoryWrapper button > span > span > span{
  transition: color 0.15s ease-out 0.3s;
  color: transparent;
}

.categoryWrapper:hover button > span > span > span{
  color:white;
}

.categoryWrapper button > span > span > span:after{
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  color:#1f2e4d;
  content: attr(data-attr-span);
  width: 0%;
  height: 100%;
  background:white;
  white-space: nowrap;
  text-align: center;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  transition: width 0.2s;
}

.categoryWrapper button:hover > span > span > span:after{
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.btn { /*https://www.w3schools.com/howto/howto_css_icon_buttons.asp */
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 15px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 30px; /* rounded buttons */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.storageSelector {
  height: 100%; /* cap height to make scroll bar appear, or change overflow */
  width: 35%;
  float: left;
  background: #625d6e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto; /*maybe change to overflow: scroll? */
  box-sizing: border-box;
  padding: 0.5em;
  overflow-x: hidden; /* remove horizontal scroll bar */
}

.fileBrowser {
  height: 100%; /* cap height to make scroll bar appear, or change overflow */
  width: 65%;
  float: right;
  /* background: #625d6e; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto; /*maybe change to overflow: scroll? */
  box-sizing: border-box;
  padding: 0.5em;
  overflow-x: hidden; /* remove horizontal scroll bar */
}

.buttonPanel {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 0.5em;
  justify-content: center;

  .btn {
    width: 100%;
    margin: 0 0.4em;
  }
}

/* Add styles here to customize the appearance of your app */